.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f5f7;
}

.login-box {
  width: 380px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 18px rgba(0,0,0,0.06);
}

.logo-box {
  width: 230px;
  height: 50px;
  /* background: linear-gradient(45deg, #ff768c, #6675ff); */
  background: linear-gradient(100deg, #fd7e14, #36d75b);
  margin: 0 auto 20px;
  border-radius: 10px;
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.login-box label {
  font-weight: 500;
  margin-top: 10px;
}

.login-box input {
  width: 100%;
  height: 38px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 5px;
  padding: 8px;
  outline: none;
}

.remember {
  margin-top: 10px;
  font-size: 14px;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  background: linear-gradient(45deg, #ff6b81, #6675ff);
  font-size: 16px;
}

.or {
  text-align: center;
  margin: 10px 0;
}

.signup {
  display: block;
  text-align: center;
  color: #6675ff;
  cursor: pointer;
}
