@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* PAGE BACKGROUND */
.login-page {
  position: relative;
  min-height: 100vh;
  background: url("../assets/login-background.png") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(22, 169, 81, 0.4),
    rgba(254, 177, 49, 0.35)
  );
}

/* MAIN CARD */
.login-card {
  position: relative;
  z-index: 2;
  background: transparent;
  border-radius: 14px;
  overflow: hidden;
      box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
  min-height: 420px;
  width: 360px;
  padding: 40px 30px;
}
.card-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-logo .logo {
  width: 80px;   /* adjust size as needed */
  height: 80px;
  object-fit: contain;
}
/* TITLE */
.login-title {
  font-weight: 600;
  margin-bottom: 25px;
  color: #11a350;
  text-align: center;
}

/* LABEL */
.login-card label {
  font-size: 13px;
  color: #334155;
  margin-bottom: 4px;
  display: block;
}

/* TEXT INPUTS */
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 12px;
  margin-bottom: 14px;
  font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #11a350;
}

/* REMEMBER / FORGOT */
.remember {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-bottom: 20px;
}

.forgot-link {
  color: #0d6efd;
  cursor: pointer;
  font-size: 14px;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* BUTTON */
.login-btn {
  width: 100%;
  background: linear-gradient(90deg, #11a350, #fdab2b);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn:hover {
  background: linear-gradient(90deg, #f0265e, #fdab2b);
}

/* SIGNUP TEXT */
.signup-text {
  text-align: center;
  font-size: 13px;
  margin-top: 16px;
}

.signup-text span {
  color: #f0265e;
  font-weight: 500;
  cursor: pointer;
}

/* Marquee container */
.brand-marquee {
  width: 100%;
  overflow: hidden;
  background: rgba(123, 31, 162, 0.12);
  padding: 8px 0;
  border-radius: 6px;
  margin-bottom: 18px;
  text-align: center;
}

/* Moving text */
.brand-marquee span {
  display: inline-block;
  white-space: nowrap;
  font-size: 26px; 
  font-weight: 700;
  letter-spacing: 3px;
  color: #7b1fa2;
  font-family: "Georgia", "Times New Roman", serif;
  animation: marquee 10s linear infinite;
}

/* Animation */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* MOBILE */
@media (max-width: 768px) {
  .login-card {
    width: 90%;
    padding: 30px 20px;
  }
}
